* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', 'inter', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #ffffff;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #ffffff;
}

h4 {
    font-size: 20px;
    color: #ffffff;
}

h6 {
    font-size: 12px;
    font-weight: 700;
}

p {
    font-size: 16px;
    color: #ffffff;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

body{
    width: 100%;
}

/*header*/

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #ffb13b;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

.logo{
    width: 70px;
    height: 70px;
    display: inline-block; 
    animation: rotateAnimation 4s linear infinite;
}
@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg); 
    }
    50% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: right;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: #7a2e02;
}

#mobile{
    display: none;
    align-items: center;
}
#close{
    display: none;
}


#navbar li a.active::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #7a2e02;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.dropdown {
    float: left;
    overflow: hidden;
}
  
  
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0; 
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    transition: 0.3s ease;
}
  


.dropdown .dropbtn a.active::after{
    
    width: 30%;
    height: 2px;
    background: #7a2e02;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
  

  /* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffb13b;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
  /* Links inside the dropdown */
.dropdown-content a {
    float: none;    
    padding: 10px 12px;
    text-decoration: none;
    display: block;
    text-align: center;
}
  
  /* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ffb13b;
}
  
  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}


#hero{
    background-image: url("../Components/Assets/cover/pic.jpg");
    height: 75vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h2{
    padding-bottom: 20px;
    opacity: 0; 
    animation: fadeIn 2.8s ease-in-out forwards; 
}


#hero h1{
    padding-bottom: 20px;
    opacity: 0; 
    animation: fadeIn 2.8s ease-in-out forwards; 
}
@keyframes fadeIn {
    from {
        opacity: 0; 
    }
    to {
        opacity: 1; 
    }
}




#hero button{
    background: linear-gradient(#ffb13b, #000000);
    border-radius: 40px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    padding: 14px 20px 14px 20px;
    background-repeat: no-repeat;
    cursor: pointer;
}
#hero button:hover{
    scale: 1.1;
    background: #ffed9c;
    color:#000000;
}

#desc p{
    color: black;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px 20px;
}

#banner img{
    width: 100%;
    height: auto;
}

#fe-topic{
    text-align: center;
}

#fe-topic h2{
    color: black;
    font-size: 35px;
    
}

#fe-topic p{
    color: #7a2e02;

}

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box{
    width: 200px;
    height: 200px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px 20px rgba(0, 0, 0, 0.03);
    border: 1px solid #ffffff;
    border-radius: 50%;
    margin: 15px 0;
}
#feature .fe-box:hover{
    background-color: #f1f1f1;
    scale: 1.2;

}

#feature .fe-box img{
    width: 80px;
    height: auto;

}

#feature .fe-box h6{
    padding: 10px;
}

#signup{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #f8d32e;
}

.signtext h4{
    color: black;
    font-size: 25px;
    font-weight: 400;
}
.signtext p{
    color: black;
    font-size: 15px;
}
.signtext p span{
    color: rgb(255, 255, 255);
}

#signup .form{
    display: flex;
    width: 40%;
}

#signup input{
    height: 3.125ram;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
}
#signup button{
    background-color: #7a2e02;
    color: #ffffff;
    white-space: nowrap;
    border-radius: 4px;
    width: auto;
    height: 25px;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: black;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer h3{
    color: rgb(255, 255, 255);
    padding-bottom: 20px;
}
footer h4{
    font-size: 14px;
    color: rgb(255, 255, 255);
    padding-bottom: 20px;
}
footer p{
    font-size: 12px;
    color: rgb(255, 255, 255);
    margin: 0 0 8px 0;
}
footer a{
    font-size: 12px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}
footer .follow{
    margin-top: 20px;
}
footer .follow img{
    height: 20px;
    width: auto;
    border: 1px solid #ffffff;
    padding-right: 4px;
    cursor: pointer;
}
footer .copyright{
    width: 100%;
    text-align: center;
}


@media(max-width:799px){
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #ffb13b;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 60px 0 0 10px;
        transition: 0.3ms;
    }
    #navbar.active{
        right: 0px;
    }
    #navbar li{
        margin-bottom: 25px;
    }
    #mobile{
        display: flex;
        align-items: center;
    }
    #mobile img{
        padding-left: 30px;

    }
    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
    }
    #cart{
        display: none;
    }
    #hero{
        height: 70vh;
        background-position: top 30% right 30%;
        padding: 0 80px;
        display: flex;
    }
    #feature{
        justify-content: center;
    }
    #feature .fe-box{
        margin: 15px 15px;
    }
    #Ab-img img{
        width: 100%;
        height: auto;
    }

}

@media(max-width: 477px){

    #header{
        padding: 10px 30px;
    }
    h1{
        font-size: 38px;
        
    }
    h2{
        font-size: 32px;

    }
    #hero{
        background-position: 55%;
        padding: 0 20px;
    }
    #Ab-img img{
        width: 100%;
        height: auto;
    }
}




/**Catagories page**/
#page-header{
    background-image: url(../Components/Assets/cover/Cover.jpg);
    text-align: center;
    padding: 20px;
}

#page-header input{
    width: 90%;
    height: 40px;
    margin: 20px 50px 20px 20px;
    border: 5px;
}


#sub-top{
    text-align: center;
}
#sub-top h2{
    color: #7a2e02;
}
#sub-top p{
    color: #000000;
}
.box-con{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.5rem;
}
#box{
    padding: 2.5rem;
    background: #ffffff;
    border-radius: .5rem;
    border: 1rem solid rgba(0, 0, 0, 0.03);
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
    text-align: center;
}
#box img{
    width: 220px;
    height: auto;
    border-radius: 10px;
}
#box h3{
    font-size: 30px;
    font-weight: 400;
}
#box span{
    color: #7a2e02;
    font-weight: 500;
    margin-right: 1rem;
    font-size: 20px;
}
#box .btn{
    background-color: #ffb13b;
    border: 1px solid #7a2e02;
    color: #000000;
    font-size: 10px;
    border-radius: 15px;
    padding: 5px;
    text-decoration: none;
}


/**about us**/
.row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}
#subtopic{
    text-align: center;
    padding: 5px;
}
#subtopic h2{
    color: #7a2e02;
}
#subtopic p{
    color: #000000;
}
.Ab-img{
    flex: 1 1 45rem;
}
.Ab-img img{
    width: 100%;
}
.Ab-content{
    background-color: rgb(241, 241, 241);
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    flex: 1 1 45rem;
}

.Ab-content h3{
    color: #000000;
    font-size: 20px;
    margin-left: 70px;
}
.Ab-content p{
    color: #000000;
    font-size: 15px;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: center;   
}
.Ab-content .icon-con{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem 0;
    margin-top: .5rem;
}
#lm-btn{
    margin-left: 50px;
    text-decoration: none;
    font-size: 15px;
    color: #7a2e02;
    cursor: pointer;
}


/**contactus**/
#cont {
    border-radius: 5px;
    background-color: #faf2d0;
    padding: 20px;  
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 60px;
}
#fd-topic{
    text-align: center;
}
#fo-sec{
    text-align: center;
    
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
  
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #f3d034;
}

.doubleSideCont {
    display: flex;
    height: 80vh; /* Set the height to 100% of the viewport height */
}

.left-side {
    flex: 1; /* Take up 1/2 of the available space */
    background-color: #f0f0f0; /* Adjust the background color as needed */
    padding: 20px;
}

.right-side {
    flex: 1; /* Take up 1/2 of the available space */
    background-color: #ffffff; /* Adjust the background color as needed */
    padding: 20px;
}

#con-info p{
    margin-left: 20px;
    color: #000000;
}

#map {
    height: 400px;
    width: 100%;
}


 /**cart section**/

 #main-cart{

 }
 
 #main-cart h2{
    text-align: center;
    color: #000000;
    font-size: 35px;
 }

 #main-cart p{
    color: #000000;
 }

 .cart-head{
    text-align: center;
 }

 .cartBar{
    display: flex;
    margin: 30px 50px 30px 50px;
    background-color: #d8d7d7;
    border-radius: 5px;
    height: auto;
    width: auto;
    justify-content: center;
 }
 /*#root{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
 }*/

 .cartSection{
    width: 100%;
    background-color: #ccc;
    justify-content: center;
    padding: 15px;
    text-align: center;

 }


.totalSec{
    width: auto;
    background-color: #f3d034;
    border-radius: 10px;
    align-items: center;
    display: flex;
    flex-direction: column 2;
    column-gap: auto;
 
 }

 .totalSec p{
    margin-left: 20px;
    margin-right: 10px;
 }

 .foot{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 10px 0px;
    border-top: 1px solid #333;
 }




